.form-container{
    padding-top: 8em;
    display:grid;
    justify-items: center;
    
    font-size: 24px;
    font-weight: 600;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-group .inputs{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

form .result-display{
    width: fit-content;
    display: flex;
    justify-content: end;
    margin-left: 450px;    
}

.input-amount{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

:host{
    button{
        border: #0e2e1c solid 2px;
        padding: 10px;
        border-radius: 30px;
    }

    button[typeBtn='solid-primary']{
        background-color: #58C852;
        color: #0e2e1c;
        font-weight: 500;
        font-size: 20px;
        margin-left: 3em;

        &:hover{
            background-color: rgb(88, 200, 82, 0.6);
            cursor: pointer;
        }
    }

    button[typeBtn='solid-secondary']{
        background-color: aquamarine;
    }
}

/*MEDIA QUERYS*/

@media screen and (max-width: 430px) {

    .form-container{  
        padding-top: 7em; 
        font-size: 22px; 
    }

    .form-group{
        align-items: center;
        gap: 25px;
    }

    .form-group .inputs{
        padding: 10px 0px;
        flex-direction: column; 
        gap: 20px;
    }

    form .result-display{
        justify-content: start; 
        margin-left: 0px; 
    }

:host{
        button[typeBtn='solid-primary']{
            font-size: 18px;
            margin-left: 0;
        }
    }
   
}
