<div class="form-container">
    <form [formGroup]="formulario" (ngSubmit)="Converter()">
        <div class="formGroup">
            <div class="textbox">
                <label for="amount"> Valor </label>
                <input type="number" name="amount" placeholder="$$$" formControlName="amount">
            </div>   
            
            <app-currency-selector [moedaFrom]="this.formulario.moedaFrom" [moedaTo]="this.formulario.moedaTo">  </app-currency-selector>
    
            <div class="button-submit">
                <input type="submit" name="btn-submit" value="converter">
            </div>
        </div>        
    </form> 
</div>

<!-- -->