<div class="form-container">
    <form [formGroup]="formulario" (ngSubmit)="Converter()">
        <div class="formGroup">
            <div class="textbox">
                <label for="valor"> Valor </label>
                <input type="number" name="input" placeholder="$$$" formControlName="valor">
            </div>   
            
            <app-currency-selector></app-currency-selector>
    
            <div class="button-submit">
                <input type="submit" name="button submit" id="button-submit" value="converter">
            </div>
        </div>        
    </form> 
</div>

<!--<h1>Descrevendo usuário</h1>
    <p>Nome: {{name}} </p>
    <p>Email: {{data.email}}</p>
    <p>telefone: {{data.tel}}</p>--> 
