<div class="header">
    <div class="title">
        <img src="../assets/moedas.png" alt="moedas">
        <h1>  Conversor de Moedas </h1>
    </div>
    
    <div class="subtitle">
        <span>  A melhor aplicação para conversão de moedas com taxas de câmbio atualizadas! </span>
    </div>
    
 </div>

 <!--<div class="class">
    <p> Nome : {{name}} </p>  interplação de string 
<p> Idade : {{ age }} </p>
<P> Profissão : {{job}}</P>
<p> Hobbies: {{ hobbies }}</p>  interplação de listas 
<p> Carro : {{ car.name }} - {{ car.year }}</p>   interplação de objetos 

<div>
    <a href="#"> Veja mais sobre a Lele!</a>
</div> 
</div>-->
