<div class="header">
    <div class="title">
        <h1>  Conversor de Moedas </h1>
    </div>
    
    <div class="subtitle">
        <h2> A melhor aplicação para conversão de moedas com taxas de câmbio atualizadas!</h2>
    </div>
    

 </div>

<div class="class">
    <!-- <p> Nome : {{name}} </p>  interplação de string 
<p> Idade : {{ age }} </p>
<P> Profissão : {{job}}</P>
<p> Hobbies: {{ hobbies }}</p>  interplação de listas 
<p> Carro : {{ car.name }} - {{ car.year }}</p>   interplação de objetos 

<div>
    <a href="#"> Veja mais sobre a Lele!</a>
</div> -->


</div>
