    <div class="selection">
        <div class="dropdown" id="1">
            <label for="tipo-moeda"> Moeda de Origem </label>
                <select name="tipo-moeda" id="moeda" placeholder="Real" [(ngModel)]="moedaDe"> 
                    <option name="moedaDe" value="BRL" > Real </option>
                    <option name="moedaDe" value="USD" > Dólar </option>
                </select>
        </div>
    
        <div class="dropdown" id="2">
            <label for="tipo-moeda"> Moeda de Destino </label>
                <select name="tipo-moeda" id="moeda" placeholder="Dólar" [(ngModel)]="moedaPara"> 
                    <option name="moedaPara" value="BRL" > Real </option>
                    <option name="moedaPara" value="USD" > Dólar </option>
                </select>
        </div>

        <p> a moeda de origem é {{moedaDe}}</p>
        <p> a moeda de destino é {{moedaPara}}</p>
    </div>

<!--<div class="class">
    <p *ngIf="show">Exibindo mensagem!</p>
    <button (click)="showMessage()">Clique em mim!</button> -- botao com evento 
</div> -->
