.selection{
    display: flex;
    flex-direction: row; 
    width: 80%;
}

.selection .dropdowns{
    display: flex;
    flex-direction: row;
    gap:65px;
}

.dropdown{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 12em;   
}

.dropdown label{
    margin-left: 12px;
}

@media screen and (max-width: 430px) {

    .selection{
        flex-direction: column;
    }

    .selection .dropdowns{
        flex-direction: column;
        gap: 20px;
    }
   
}

