<form action="#" method="post">
    <div class="selection">
        <div class="dropdown" id="1">
            <label for="moeda"> Moeda </label>
                <select name="moeda" id="moeda"> 
                    <option value="BRL"> Real </option>
                    <option value="USD"> Dólar </option>
                </select>
        </div>
    
        <div class="dropdown" id="2">
            <label for="moeda"> Moeda </label>
                <select name="moeda" id="moeda"> 
                    <option value="BRL"> Real </option>
                    <option value="USD"> Dólar </option>
                </select>
        </div>
    </div>
</form>

<!--<div class="class">
    <p *ngIf="show">Exibindo mensagem!</p>
    <button (click)="showMessage()">Clique em mim!</button> -- botao com evento 
</div> -->
